p{
    background-color: red;
    width: 1134px;
    height: 625px;
    color: white;
    text-decoration: underline dotted;
    text-transform: uppercase;
    line-height: 50px;
    font-size: 25px;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: "Lora", serif;   /* this line is paste from googlefont*/
}