*{
    margin: 0;
    padding: 0;
}
.content{
    width: 345px;
    height: 423px;
    background: red;
    /* margin: 14px;
    padding: 13px; */
    margin: 4px 2px 5px 2px;     /*short cut*/
    padding: 6px 5px 3px 2px;
    /* border: 4px solid black; */
    border-width: 4px;
    border-style: dashed;
    border-color:black;
    border-radius: 19px;
}